---
import Section from "../Section.astro";
import Reddit from "../../icons/RedditIcon.astro";
---

<Section>
    <div class="flex justify-between w-full">
        <div>
            <h3 class="text-gray-500">Brian Zaragoza Cerdá</h3>
            <p>lorem ipsulum</p>
            <a
                title="Brian's Github"
                class="w-24 h-24 text-red-400 bg-red-500"
                href="https://github.com/Narxib"><Reddit /></a
            >
        </div>

        <img
            class="w-16 h-16"
            src="https://letsenhance.io/static/8f5e523ee6b2479e26ecc91b9c25261e/1015f/MainAfter.jpg"
            alt="pf"
        />
    </div>
</Section>
