---
const { title } = Astro.props;
---

<div
  class="flex-col border-2 rounded-xl justify-star text-center items-center w-full border-gray-500"
>
  <h2 class="font-bold py-2 dark:text-gray-300">{title}</h2>
  <div class="flex gap-2 justify-center flex-wrap p-2">
    <slot />
  </div>
</div>
