---
const { Icon, name, link } = Astro.props;
---

<button
    class="flex flex-col hover:bg-gray-200 rounded-lg transition-all ease-in duration-75 align-middle items-center text-center justify-center"
>
    <a
        class="border-[2px] border-gray-400 p-1 rounded-lg"
        title={link}
        href={link}
    >
        <Icon />
    </a>
</button>
