---
import Section from "../Section.astro";
import cv from "@/cv.json";
const { workExp } = cv;
---

<Section title="Experiencia laboral">
  <h2 class="text-gray-500 tracking-wide font-mono text-sm">
    {typeof cv.workExp === "object" ? "empty" : workExp}
  </h2>
</Section>
