---
import Section from "../Section.astro";

const data = Astro.props;

const { title, workExp } = data;
---

<Section title={title}>
  <h2 class="text-gray-500 dark:text-gray-300 font-mono text-sm">
    {typeof data.cv === "object" ? "empty" : data.cv}
  </h2>
</Section>
