---
import cv from "@/cv.json";
import Section from "./Section.astro";
---

<Section title="Sobre mi">
  <p class="text-gray-500 tracking-wide font-mono text-sm">
    {cv.basics.aboutme}
  </p>
</Section>
