---
import Section from "./Section.astro";
import cv from "@/cv.json";
---

<Section title="Projects">
    <div class="flex gap-2">
        {
            cv.projects.map((item) => {
                return (
                    <div class="flex-col border-2 rounded-lg p-2 w-1/2 h-auto">
                        <div class="flex justify-between">
                            <h2 class="font-bold font-mono">{item.title}</h2>
                            <h2
                                class={`${item.active ? "text-green-500" : "text-red-500"} p-0 my-4 boxsize shadow-[0px_0px_45px_5px_rgba(0,255,0,1)] indicator animate-pulse text-2xl rounded-full $`}
                            >
                                •
                            </h2>
                        </div>

                        <p class="mb-4 h-12 font-mono text-gray-500">
                            {item.description}
                        </p>

                        <img
                            class="w-full border-2 border-gray-300"
                            src={item.img}
                            alt="project img"
                        />
                    </div>
                );
            })
        }
    </div>
</Section>
