---
import Section from "./Section.astro";
import Github from "@/icons/Github";
import SocialsIcon from "./sections/SocialsIcon.jsx";
const { data } = Astro.props;
---

<Section title="Proyectos">
  <div class="flex gap-2">
    {
      data.map((item) => {
        return (
          <a
            href={item.link}
            class="flex-col border-2 p-2 border-gray-500 rounded-lg w-1/2 h-auto"
          >
            <div class="flex justify-between">
              <h2 class="font-bold text-sm flex gap-4 font-mono dark:text-gray-300">
                {item.title}
              </h2>
              <svg height="50" width="50" viewBox="0" class="animate-pulse">
                <circle
                  class="indicator"
                  cx="20"
                  cy="20"
                  r="5"
                  dx="4"
                  dy="8"
                  stdDeviation="4"
                  fill={item.active ? "green" : "red"}
                />
              </svg>
            </div>
            <p class="mb-4 h-12 text-sm font-mono text-gray-500">
              {item.description}
            </p>

            <img
              class="no-print w-full md:mt-0 mt-16 border-2 border-gray-300"
              src={item.img}
              alt="project img"
            />
          </a>
        );
      })
    }
  </div>
</Section>

<style>
  @keyframes "blink" {
    from,
    to {
      opacity: 100%;
    }

    50% {
      opacity: 100%;
    }
  }

  .dark .indicator {
    -webkit-box-shadow: 0px 0px 130px 40px rgba(0, 240, 28, 0.5);
    -moz-box-shadow: 0px 0px 130px 1px rgba(0, 240, 28, 0.5);
    box-shadow: 0px 0px 130px 1px rgba(0, 240, 28, 0.5);
    animation: blink infinite 2s linear;
  }
</style>
