@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  .no-print {
    color: white;
    background-color: black;
    display: none;
  }

  .print {
    display: flex;
    flex-direction: row;
    color: black;
  }
}

html
body {
  margin: 0;
  margin-top: 30px;
  width: 100%;
  font-weight: bold;
  font-family: sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  transition: 0.1s all linear;
}

.dark  #title {
  @apply text-gray-400;
  @apply font-sans;
  @apply font-bold;
}
.dark #name{
   @apply font-sans;
  @apply text-2xl;
    @apply tracking-normal;
   @apply text-gray-400;
}

.dark,
h2 {
  @apply text-gray-400;
  @apply font-bold;
}

.dark,
.profile {
  border-radius: 100%;
}

.dark,
h3 {
  @apply text-gray-400;
  @apply font-mono;
}

.dark,
a {
  @apply text-white;
  @apply bg-gray-400;
}

.dark
p {
  @apply text-gray-400;
  @apply font-bold;
  @apply text-sm;
}

.dark {
  @apply bg-gray-900;
}

.dark #langButton{
  @apply text-blue-400
}

#sunsvg {
  @apply stroke-black;
}

.dark #sunsvg {
  @apply stroke-slate-400;
}
